<div class="flex flex-grow justify-center items-center bg-slate-50">
  <!-- Toaster -->
  <app-loader *ngIf="isLoading"></app-loader>

  <!-- Form -->
  <form class="w-full max-w-[400px]" (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">
    <h1>Create an account</h1>

    <!-- email -->
    <div class="form-item">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" autocomplete="off" ngModel required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" #email="ngModel">
      <span class="error" *ngIf="email.invalid && email.touched">
        Please enter a valid email.
      </span>
    </div>

    <!-- username -->
    <div class="form-item">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="(between 8 - 20 characters)" autocomplete="off"
        ngModel required minlength="8" maxlength="20" #username="ngModel">
      <span class="error" *ngIf="username.invalid && username.touched">
        Must have between 8 - 20 characters.
      </span>
    </div>

    <!-- password -->
    <div class="form-item">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="(at least 8 characters required)"
        autocomplete="new-password" ngModel required minlength="8" pattern="^(?=.*[0-9])(?=.*[!@#$%^&+=])(?=\S+$).{8,}$"
        #password="ngModel">
      <span class="error" *ngIf="password.invalid && password.touched">
        Must have at least 8 characters, 1 number, and 1 symbol (!@#$%^&+=).
      </span>
    </div>

    <!-- confirm password -->
    <div class="form-item">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="new-password" ngModel required
        #confirmPassword="ngModel">
      <span class="error" *ngIf="confirmPassword.invalid && confirmPassword.touched">
        Confirm password required.
      </span>
    </div>

    <!-- submit -->
    <button class="bg-sky-600 hover:bg-sky-800 disabled:opacity-60 disabled:bg-sky-600" type="submit"
      [disabled]="!f.valid">Sign Up</button>
    <small><a routerLink="../login">Already have an account?</a></small>
  </form>
</div>